<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container">
		<div id= "logo"> <%= image_tag('ca_logo_mid.png') %></div><!--#logo-->
		<% if current_user %>
		<nav>
		  <ul class="nav">
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">Account
					<b class="caret"></b>
				</a>	
	      		<ul class="dropdown-menu">
		    		<li><%= link_to 'Dashboard', current_user %></li>
		    		<li><%= link_to 'Settings', edit_user_path(current_user) %></li>
		            <li class="divider"></li>
		    		<li><%= link_to 'Sign out', signout_path %></li>
	      		</ul>	
			</li>
		  </ul>
	    </nav>
		<% else %>
		<nav>
	      <ul class="nav">
		    <li><%= link_to 'Sign in', '/auth/github' %></li>
	      </ul>	
	    </nav>
	    <% end %>
	</div>
  </div>
</header>